<!--Footer Start-->
<footer id="wt-footer" class="wt-footer wt-haslayout ">
    <div class="wt-haslayout wt-footerbottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="wt-copyrights"><a>Copyright @ FindToil Developer team</a></p>
                    <nav class="wt-addnav">
                        <ul>
                            <li><a href="javascript:void(0);">News</a></li>
                            <li><a href="javascript:void(0);">Terms &amp; Conditions</a></li>
                            <li><a href="javascript:void(0);">Privacy Policy</a></li>
                            <li><a href="javascript:void(0);">Career</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->
